In [1]:
list1 = []

In [2]:
print(type(list1))

<class 'list'>

In [3]:
list2 = [10,30,60]

In [ ]:
list3 = [10.77,30.66,60.89]

In [18]:
list4 = ['one','two',"three"]

In [4]:
list5 = ['asif',25,[50,100],[150,90]]

In [5]:
list6 = [100,'asif',17.765]

In [ ]:
list7 =['asif',25,[50,100],[150,90],{'john','david'}]

In [6]:
len(list6)

3

In [7]:
list2[0]

10

In [12]:
list5[0]

'asif'

In [17]:
list4[0]

'one'

In [16]:
list4[0][0]

'o'

In [19]:
list4[-1]

'three'

In [20]:
list5[-1]

[150, 90]

slicing

In [21]:
mylist = ['one','two','three','four','five','six','seven','eight']

In [22]:
mylist[0:3]

['one', 'two', 'three']

In [23]:
mylist[2:5]

['three', 'four', 'five']

In [24]:
mylist[:3]

['one', 'two', 'three']

In [25]:
mylist[-2:]

['seven', 'eight']

In [26]:
mylist[:]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

ADD , REMOVE&CHANGE ITEMS

In [27]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [29]:
mylist.append('nine')
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'nine']

In [32]:
mylist.insert(9,'nine')
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'nine',
 'nine']

In [35]:
mylist.insert(1,'ONE')
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'nine',
 'nine']

In [36]:
mylist.remove('one')
mylist

['ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'nine',
 'nine']

In [38]:
mylist.pop()
mylist

['ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'nine']

In [39]:
mylist.pop(7)
mylist

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven', 'nine', 'nine']

In [40]:
del mylist[7]
mylist

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven', 'nine']

In [41]:
mylist[0]=1
mylist[1]=2
mylist[2]=3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven', 'nine']

In [42]:
mylist.clear()
mylist

[]

copy list

In [52]:
mylist = ['one','two','three','four','five','six','seven','eight']

In [53]:
mylist1 = mylist

In [54]:
id(mylist),id(mylist1)

(1529494751936, 1529494751936)

In [55]:
mylist2 = mylist.copy()

In [56]:
id(mylist2)

1529494900672

In [57]:
mylist[0] = 1

In [58]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [59]:
mylist1

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [60]:
mylist2

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

JOIN LISTS

In [61]:
list1 = ['one','two','three','four','five']
list2 = ['six','seven','eight','nine','ten']

In [62]:
list3 = list1+list2
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [63]:
list1.extend(list2)
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

LIST MEMBERSHIP

In [65]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [66]:
'one' in list1

True

In [67]:
'twelve' in list1

False

In [68]:
if 'three' in list1:
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is present in the list

REVERSE & SORT LIST

In [69]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [70]:
list1.reverse()
list1

['ten', 'nine', 'eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [71]:
list1 = list1[::-1]
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [72]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort()
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [76]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse = true)
mylist3

NameError: name 'true' is not defined

In [77]:
mylist4 = [88,65,33,12,9,5,2]
sorted(mylist4)

[2, 5, 9, 12, 33, 65, 88]

LOOP THROUGH A LIST

In [78]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [79]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight
nine
ten

In [82]:
for i in enumerate(list1):
      print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')
(8, 'nine')
(9, 'ten')